## Lab 3: pandas

#### Introduction

We will examine a dataset containing characteristics of lego sets manufactured between 1961 and 2019 from the BRICKSET website. Variables in the dataset are described below.

| VARIABLE             |      DESCRIPTION             |
|:----------|:-------------|
| ID |  set id |
| Name |    name of set   |
| Themegroup | themegroup of set |
| Theme |  theme of set |
| Subtheme |    subtheme of set   |
| Year | year released |
| Pieces |  number of pieces |
| Minifig |    number of minifigs   |
| Package | type of packaging |
| Retail_Price |  recommended retail pri



Load pandas to read in the data and save it as dataframe named lego.

mmashael

In [58]:
import pandas as pd

lego = pd.read_csv('lego.csv')

#### Question 1:
Some sets have missing information for retail_price or pieces or both. This could be because the sets are free (giveaways), they aren’t traditional lego sets (comic books, etc) or just because the information is missing. Filter the lego dataset based on the specifications below and save the result as lego. Hence, you will overwrite the original lego object. In addition, describe the implications of removing these sets.

Your new lego (data frame) should have:

• no missing pieces

• only contain sets with a nonzero number of pieces

• no missing retail_price

• only contain sets with a nonzero retail_price

• no missing year

- Print out the shape of the dataframe after cleaning the dataset.
-

In [63]:
# Write your answer here
print(lego.shape)
lego2 =lego.dropna()
print(lego2.shape)
lego2=lego2.loc[lego2.retail_price ==0, :]
lego2= lego2.loc[lego2.pieces > 0, :]
print(lego2.shape)

(12214, 10)
(4360, 10)
(83, 10)

#### Question 2:	
Arrange the dataset in descending order of retail_price and print the first three rows. Report in words the names of the three most expensive lego sets, their prices, and how many pieces each has.

In [78]:
lego2.sort_values(by = 'retail_price', ascending = False).head(3)

,id,name,themegroup,theme,subtheme,year,pieces,minifigs,package,retail_price
2266,40135-1,Angler Fish,Miscellaneous,Promotional,Monthly Mini Model Build,2015.0,29.0,0,Polybag,0.0
5627,HANOVER-1,{Crab},Miscellaneous,Promotional,LEGO brand store opening set,2009.0,69.0,0,None (loose parts),0.0
5623,CONCORD-1,{Nascar},Miscellaneous,Promotional,LEGO brand store opening set,2009.0,70.0,0,None (loose parts),0.0

#### Question 3:

It appears that the most expensive sets generally have more pieces. Create a new variable (column) price_per_piece, representing the price in dollars per piece for each of the sets. Save the result as lego2. Hence, you will overwrite the current lego object.

In [84]:
# Write your answer here
lego2['price_per_piece'] = lego2.retail_price / lego2.pieces
lego2.sort_values(by = 'price_per_piece', ascending = False).head(3)

,id,name,themegroup,theme,subtheme,year,pieces,minifigs,package,retail_price,price_per_piece
2266,40135-1,Angler Fish,Miscellaneous,Promotional,Monthly Mini Model Build,2015.0,29.0,0,Polybag,0.0,0.0
5627,HANOVER-1,{Crab},Miscellaneous,Promotional,LEGO brand store opening set,2009.0,69.0,0,None (loose parts),0.0,0.0
5623,CONCORD-1,{Nascar},Miscellaneous,Promotional,LEGO brand store opening set,2009.0,70.0,0,None (loose parts),0.0,0.0

#### Question 4:	

Arrange the lego2 dataset in descending order of price_per_piece and return only the columns: name, themegroup, theme, pieces, price_per_piece, and the first five rows. What do you notice about these sets?

In [88]:
# Write your answer here

lego3=lego2.sort_values(by ='price_per_piece' ,ascending = False)
lego3= lego3.loc[:,[ 'name', 'themegroup', 'theme','pieces','price_per_piece']]
lego3.head(5)

              name     themegroup        theme  pieces  price_per_piece
2266   Angler Fish  Miscellaneous  Promotional    29.0              0.0
5627        {Crab}  Miscellaneous  Promotional    69.0              0.0
5623      {Nascar}  Miscellaneous  Promotional    70.0              0.0
5614  {Salamander}  Miscellaneous  Promotional    72.0              0.0
5613  {Flying Pig}  Miscellaneous  Promotional    93.0              0.0

#### Question 5:

What is the mean price_per_piece for the top 40 'Toy Story' sets in terms of price_per_piece?

In [90]:
# Write your answer here
lego3=lego2.sort_values(by = 'price_per_piece', ascending = False)
lego3.loc[lego3.theme =='toy story' , :].head(40).price_per_piece.mean()

nan

#### Question 6:

What are the unique themes in the lego dataset?

In [92]:
# Write your answer here
lego2.theme.value_counts()

AttributeError: 'Series' object has no attribute 'values_counts'